.button{
    display: flex; 
    justify-content: space-evenly; 
}

.content{
    width: 420px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 100px;
    padding: 0px 15px 15px 15px;
    background-color: #ffffff;
}

.b:hover {
    border: 1px solid #0d6efd;
    color: #0d6efd;
    background-color: #fff; 
}

.b{
    color: #fff;
    background-color: #0d6efd;
}

.wrapper {
    display: flex;
  }

.main{
    flex:1;
    padding: 10px;
}


